{% assign blog_handles = "news;fashion-report;dopeness" %}
{% assign blog_list = blog_handles | split: ';' %}

{% for blog_handle in blog_list %}

  {% for article in blogs[blog_handle].articles limit: 1%}

      <article>
        <h3><a href= "{{ article.url }}">{{ article.title }}</a></h3>
        <p><span class="date" style="display: block;">Posted: <em>{{ article.published_at | date: "%B %d %Y" }}</em> in <a href="{{ blogs[blog_handle].url }}">{{ blogs[blog_handle].title }}</a></span></p>
        <section>{{ article.content | strip_html | truncatewords: 10 }}</section>
      </article>

      <hr class="divider" />

  {% endfor %}

{% endfor %}

{% comment %}

  When truncating, use strip_html so that the the HTML characters are
  not counted towards your character or word count.

{% endcomment %}
